{% extends "@layouts/base.html.twig" %}

{% block body %}

    {% if app.flashes is not null %}
        <div class="alert alert-{{ app.flashes.type }}">
            {{ app.flashes.message }}
        </div>
    {% endif %}

    <h1>Contact Us</h1>
    <a href="{{ path('default') }}">Home Page</a>
    <form method="post" action="{{ path('contact.post') }}">
        <div class="form-group">
            <label>Firstname</label>
            <input type="text" class="form-control" name="firstname">
        </div>

        <div class="form-group">
            <label>Lastname</label>
            <input type="text" class="form-control" name="lastname">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email">
        </div>

        <div class="form-group">
            <label>Email</label>
            <textarea class="form-control" name="message"></textarea>
        </div>
        <button class="btn btn-primary btn-block mt-5">Send</button>
    </form>
{% endblock %}